@import url('anim.css');

/*generic style for dice*/
.dice-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}


.dice {
  margin: 1.5em;
  max-width: 150px;
  width: 100%;
  height: 150px;
  background: tomato;
  padding: 1rem;
  border-radius: 10%;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.73);
}

.dice__visibility {
  border: 5px solid saddlebrown;
  animation: wobble;
  /*referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  /* don't forget to set a duration! */
  display: flex;
}

.dice .dice-dot {
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.73);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}

/* ONE DOT */
.dice__one-dot {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TWO-DOT */
.dice__two-dot {
  display: flex;
  justify-content: space-between;
}

.dice__two-dot .dice-dot:nth-of-type(1) {
  align-self: flex-end;
}

/* THREE-DOT */
.dice__three-dot {
  display: flex;
  justify-content: space-between;
}

.dice__three-dot .dice-dot:nth-of-type(2) {
  align-self: center;
}

.dice__three-dot .dice-dot:nth-of-type(3) {
  align-self: flex-end;
}

/* FOUR-DOT */
.dice__four-dot {
  display: flex;
  justify-content: space-between;
}

.dice__four-dot--col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* FIVE DOTS */
.dice__five-dot {
  display: flex;
  justify-content: space-between;
}

.dice__five-dot--col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dice__five-dot--col:nth-of-type(2) {
  justify-content: center;
}

/* SIX DOTS */
.dice__six-dot {
  display: flex;
  justify-content: space-between;
}

.dice__six-dot .dice__six-dot--col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dice__six-dot .dice__six-dot--col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}